<%- include ../layouts/header.ejs %>
    <!-- DataTables CSS -->
    <link href="/../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/../bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
</head>
	<script>
		dorefresh()
		{
			window.location.reload();
		}
	</script>

    <body>
        <div id="wrapper">
            <%- include ../layouts/navigationUTI.ejs %>
            <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <% for(var i = 0; i < 1; i++) { %>
                    <h1 class="page-header">Registered Victims - <%= dados[i].cri_ds %></h1>
                    <h2><%= dados[i].cri_txt %></h2>
                    <% } %>
                </div>
                <!-- /.col-lg-12 -->
            </div>

                        <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           All Registered Victims
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Token</th>
                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>Status</th>
                                            <th>Crisis</th>
                                            <th>Hospital</th>
                                            <th>Status</th>
                                            <th>Death</th>
                                            <th>Communicate Death</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i = 0; i < dados.length; i++) { %>
                                            <tr class="odd gradeX">
                                                <td class="text-danger text-center"><%= dados[i].token %></td>
                                                <td class="text-danger text-center"><%= dados[i].nome %></td>
                                                <td class="text-danger text-center"><%= dados[i].sexo %></td>
                                                <td class="text-danger text-center"><a href="<%= "vitima" + dados[i].id %>"> Vital Signs</a></td>
                                                <td class="text-danger text-center"><a href="<%= "crises" + dados[i].crise %>"><%= dados[i].crise %></a></td>
                                                <td class="text-danger text-center"><%= dados[i].hospital %></td>
                                                <td class="text-danger text-center"><%= dados[i].status %></td>
												<td class="text-danger text-center"><%= dados[i].obito %></td>			
												<td class="text-danger text-center">
													<form action="/uti/comunicarObito" method = "post">
													<input type="hidden" name="token" value=<%=dados[i].token%>>
													<button type="submit" >
														Communicate
													</button>
													</form>
												</td>	


                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>

                                <a href="javascript:history.back()"><< Go Back</a>
                            </div>
                            <!-- /.table-responsive -->

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
        </div>
        <%- include ../layouts/footer.ejs %>
        <script src="/../bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
        <script src="/../bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
        <script>
        $(document).ready(function() {
                $('#dataTables-example').DataTable({
                                responsive: true
                });
        });
        </script>
    </body>
</html>
